<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Simple upload example</h1>
    <form action="/uploadPage" method="post" enctype="multipart/form-data">
        <input type="file" name="someFile">
        <button type="submit">Upload File</button>
    </form>

</body>
</html>